body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 20px;
    background-color: #c50000ce;
    font-family: Arial, sans-serif;
}

#entrada,
#resultado {
    width: 40%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    resize: none;
}

#registrar {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: white;
    border: double 7px white;
}
h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: solid 3px white;
    border-radius: 20px;
    padding: 20px;
    background-color: black;
}
